{% load widget_tweaks %}

{% if form_type == "vertical" %}
    <label class="col-form-label" for="input">{{ field.label }}</label>
    {{ field }}
{% elif form_type == "horizontal" %}
    <div class="row mb-3">
        <div class="col-sm-3">
            <label class="col-form-label" for="input" >{{ field.label }}</label>
        </div>
        <div class="col-sm-9">
            {{ field }}
        </div>
    </div>
{% else %}
    <div class="form-floating">
        {{ field }}
        <label for="input">{{ field.label }}</label>
    </div>
{% endif %}