<table>
    <thead>
    <tr>
        <th>
            COMPLEMENTO CARTA PORTE AUTOTRANSPORTE
        </th>
    </tr>
    </thead>
</table>

<table>
    <thead>
    <tr>
        <td>
            Version: 3.0
        </td>
        <td>
            Transporte Internacional: No
        </td>
        <td>
            IdCCP: {{ Cartaporte.idccp }}
        </td>
    </tr>
    <tr>
        <td>
            Total distancia recorrida: {{ Cartaporte.TotalDistRec }}
        </td>
        <td>
            Via de entrada: 01
        </td>
    </tr>

    <tr>
        <td>
            IdCCP: {{ Cartaporte.idccp }}
        </td>
        <td>
        </td>
    </tr>
    </thead>
</table>


<table>
    <thead>
    <tr>
        <th>
            ORIGEN
        </th>
    </tr>
    </thead>
</table>

<table>
    <thead>
    <tr>
        <td>
            Remitente: {{ Cartaporte.Origen.NombreRemitente }}
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            RFC Remitente: {{ Cartaporte.Origen.RFCRemitente }}
        </td>
        <td>
            Fecha y hora de salida: {{ Cartaporte.Origen.FechaHoraSalida }}
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            Domicilio
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            Calle: {{ Cartaporte.Origen.Calle }}
        </td>
        <td>
            No Exterior: {{ Cartaporte.Origen.NumeroExterior }}
        </td>
    </tr>
    <tr>
        <td>
            Colonia: {{ Cartaporte.Origen.Colonia|upper }}
        </td>
        <td>
            Localidad: {{ Cartaporte.Origen.Localidad|upper }}
        </td>
    </tr>
    <tr>
        <td>
            Municipio: {{ Cartaporte.Origen.Municipio|upper }}
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            Estado: {{ Cartaporte.Origen.Estado }}
        </td>
        <td>
            CP: {{ Cartaporte.Origen.CodigoPostal }}
        </td>
    </tr>
    <tr>
        <td>
            Referencia:
        </td>
        <td>
            Pais: {{ Cartaporte.Origen.Pais }}
        </td>
    </tr>
    </thead>
</table>

{% for point in Cartaporte.MiddlePoint %}
    <table>
        <thead>
        <tr>
            <th>
                REPARTO
            </th>
        </tr>
        </thead>
    </table>

    <table>
        <thead>
        <tr>
            <td>
                Remitente: {{ point.NombreRemitente }}
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td>
                RFC Remitente: {{ point.RFCDestinatario }}
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Domicilio
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Calle: {{ point.Calle }}
            </td>
            <td>
                No Exterior: {{ point.NumeroExterior }}
            </td>
        </tr>
        <tr>
            <td>
                Colonia: {{ point.Colonia|upper }}
            </td>
            <td>
                Localidad: {{ point.Localidad|upper }}
            </td>
        </tr>
        <tr>
            <td>
                Municipio: {{ point.Municipio|upper }}
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Estado: {{ point.Estado }}
            </td>
            <td>
                CP: {{ point.CodigoPostal }}
            </td>
        </tr>
        <tr>
            <td>
                Referencia:
            </td>
            <td>
                Pais: {{ point.Pais }}
            </td>
        </tr>
        </thead>
    </table>

{% endfor %}

<table>
    <thead>
    <tr>
        <th>
            DESTINO
        </th>
    </tr>
    </thead>
</table>

<table>
    <thead>
    <tr>
        <td>
            Destinatario: {{ Cartaporte.Destino.NombreRemitente }}
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            RFC Destinatario: {{ Cartaporte.Destino.RFCDestinatario }}
        </td>
        <td>
            Fecha y hora de llegada: {{ Cartaporte.Destino.FechaHoraSalida }}
        </td>
    </tr>
    <tr>
        <td>
            Control vehicular: {{ Cartaporte.ControlVehicular|upper }}
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            Domicilio
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            Calle: {{ Cartaporte.Destino.Calle }}
        </td>
        <td>
            No Exterior: {{ Cartaporte.Destino.NumeroExterior }}
        </td>
    </tr>
    <tr>
        <td>
            Colonia: {{ Cartaporte.Destino.Colonia|upper }}
        </td>
        <td>
            Localidad: {{ Cartaporte.Destino.Localidad|upper }}
        </td>
    </tr>
    <tr>
        <td>
            Municipio: {{ Cartaporte.Destino.Municipio|upper }}
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            Estado: {{ Cartaporte.Destino.Estado }}
        </td>
        <td>
            CP: {{ Cartaporte.Destino.CodigoPostal }}
        </td>
    </tr>
    <tr>
        <td>
            Referencia:
        </td>
        <td>
            Pais: {{ Cartaporte.Destino.Pais }}
        </td>
    </tr>
    </thead>
</table>
{% if is_asturiano %}
    <table class="table">
        <thead>
        <tr>
            <th colspan="2" style="text-align: center">
                REPARTOS
            </th>
        </tr>
        </thead>
        <tbody>
        {% for tienda in asturiano_links %}
            <tr>
                <td>
                    Destinatario: {{ tienda.name|upper }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% if is_3b %}
    <table class="table">
        <thead>
        <tr>
            <th colspan="2" style="text-align: center">
                REPARTOS
            </th>
        </tr>
        </thead>
        <tbody>
        {% for tienda in 3b_links %}
            <tr>
                <td>
                    Destinatario: {{ tienda.name|upper }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
<br>
<table>
    <thead>
    <tr>
        <th>
            INFORMACION DE MERCANCIAS
        </th>
    </tr>
    </thead>
</table>


<table>
    <thead>
    <tr>
        <th>
            Cantidad
        </th>
        <th>
            Unidad
        </th>
        <th>
            Clave
        </th>
        <th>
            Descripcion
        </th>
        <th>
            Peso en kilogramos
        </th>
    </tr>
    </thead>
    <tbody>
    {% for product in Cartaporte.Products %}
        <tr>
            <td>
                {{ product.Cantidad }}
            </td>
            <td>
                {{ product.ClaveUnidad }}
            </td>
            <td>
                {{ product.BienesTransp }}
            </td>
            <td>
                {{ product.Descripcion }}
            </td>
            <td>
                {{ product.PesoEnKg }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<table>
    <thead>
    <tr>
        <th>
            INFORMACION DE AUTOTRANSPORTE FEDERAL
        </th>
    </tr>
    </thead>
</table>

<table>
    <thead>
    <tr>
        <td>
            Tipo de permiso SCT: {{ Cartaporte.PermSCT }}
        </td>
        <td>
            Numero de permiso SCT: {{ Cartaporte.NumPermisoSCT }}
        </td>
    </tr>
    <tr>
        <td>
            Nombre de aseguradora: {{ Cartaporte.NombreAseg }}
        </td>
        <td>
            Numero de poliza: {{ Cartaporte.NumPolizaSeguro }}
        </td>
    </tr>
    <tr>
        <td>
            Clave de autotransporte: {{ Cartaporte.Unidad }}
        </td>
        <td>
            Placa vehiculo: {{ Cartaporte.PlacaVM }}
        </td>
    </tr>
    <tr>
        <td>
            Año modelo: {{ Cartaporte.AnioModeloVM }}
        </td>
        <td>
            Peso bruto vehicular: 500
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td>
            Datos del remolque
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            Clave tipo de remolque: {{ Cartaporte.Caja }}
        </td>
        <td>
            Placa: {{ Cartaporte.PlacaCaja }}
        </td>
    </tr>
    </thead>
</table>

<table>
    <thead>
    <tr>
        <th>
            INFORMACION DE LA FIGURA DE TRASNPORTE
        </th>
    </tr>
    </thead>
</table>

<table>
    <thead>
    <tr>
        <td>
            Clave del transporte:
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            Operador: {{ Cartaporte.NombreOperador }}
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            RFC Operador: {{ Cartaporte.RFCOperador }}
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            Residencia fiscal operador: MEXICO
        </td>
        <td>
            Numero de licencia: {{ Cartaporte.NumLicencia }}
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
        </td>
    </tr>
    </thead>
</table>
